// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$about-name: 'about';
$about-x: 43px;
$about-y: 0px;
$about-offset-x: -43px;
$about-offset-y: 0px;
$about-width: 47px;
$about-height: 47px;
$about-total-width: 291px;
$about-total-height: 47px;
$about-image: '../img/sprite.png';
$about: (43px, 0px, -43px, 0px, 47px, 47px, 291px, 47px, '../img/sprite.png', 'about', );
$experience-name: 'experience';
$experience-x: 110px;
$experience-y: 0px;
$experience-offset-x: -110px;
$experience-offset-y: 0px;
$experience-width: 47px;
$experience-height: 47px;
$experience-total-width: 291px;
$experience-total-height: 47px;
$experience-image: '../img/sprite.png';
$experience: (110px, 0px, -110px, 0px, 47px, 47px, 291px, 47px, '../img/sprite.png', 'experience', );
$javascript-name: 'javascript';
$javascript-x: 177px;
$javascript-y: 0px;
$javascript-offset-x: -177px;
$javascript-offset-y: 0px;
$javascript-width: 47px;
$javascript-height: 47px;
$javascript-total-width: 291px;
$javascript-total-height: 47px;
$javascript-image: '../img/sprite.png';
$javascript: (177px, 0px, -177px, 0px, 47px, 47px, 291px, 47px, '../img/sprite.png', 'javascript', );
$personal-info-name: 'personal-info';
$personal-info-x: 244px;
$personal-info-y: 0px;
$personal-info-offset-x: -244px;
$personal-info-offset-y: 0px;
$personal-info-width: 47px;
$personal-info-height: 47px;
$personal-info-total-width: 291px;
$personal-info-total-height: 47px;
$personal-info-image: '../img/sprite.png';
$personal-info: (244px, 0px, -244px, 0px, 47px, 47px, 291px, 47px, '../img/sprite.png', 'personal-info', );
$slider-point-name: 'slider-point';
$slider-point-x: 0px;
$slider-point-y: 0px;
$slider-point-offset-x: 0px;
$slider-point-offset-y: 0px;
$slider-point-width: 23px;
$slider-point-height: 26px;
$slider-point-total-width: 291px;
$slider-point-total-height: 47px;
$slider-point-image: '../img/sprite.png';
$slider-point: (0px, 0px, 0px, 0px, 23px, 26px, 291px, 47px, '../img/sprite.png', 'slider-point', );
$spritesheet-width: 291px;
$spritesheet-height: 47px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($about, $experience, $javascript, $personal-info, $slider-point, );
$spritesheet: (291px, 47px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
