.javascript#javascript(data-controller="slider")
    .container
        +head('', 'icon-javascript', 'Уровень владения JavaScript')
        .javascript__holder
            .javascript__level
                .javascript__level-item Не владею
                .javascript__level-item Использую готовые решения
                .javascript__level-item Использую готовые решения и умею и переделывать
                .javascript__level-item Пишу сложный JS с нуля
            .javascript__slider.js-javascript-slider