.about
    .container
        .about__wrap
            +head('', 'icon-about', 'Расскажите о себе', 'Напишите несколько предложений, чем привлекла наша вакансия и что вы ожидаете от работы у нас.')
            textarea.textarea(name="" placeholder="Понравилась тем, что...")
            button.btn(type="submit") Готово