.head {
    margin-bottom: 46px;
    text-align: center;
    @include b(mobile) {
        margin-bottom: 25px;
    }

    .icon {
        margin-bottom: 24px;
        @include b(mobile) {
            margin-bottom: 10px;
        }
    }

    h2 {
        font-size: 30px;
        font-weight: 300;
        @include b(mobile) {
            font-size: 20px;
        }
    }

    .descr {
        padding-top: 12px;
        display: block;
        line-height: 1.5;
    }
}