.experience#experiance
    .container
        +head('', 'icon-experience', 'Расскажите о своем опыте')
        ul.experience__list
            each item in experience.items
                li.experience__item
                    label.checkbox
                        input(type="checkbox" checked= item.checked)
                        span= item.name