.btn {
  @include trs;
  cursor: pointer;
  text-align: center;
  font-weight: 200;
  font-size: $main-font-size;
  line-height: 1;
  padding: 17px 10px;
  background: #435993;
  color: $white;
  border: none;
  border-radius: 10px;
  position: relative;
  width: 100%;
  display: block;

  &:hover,
  &.active {
    color: $white;
    background: #ccb1f1;
  }

  &:focus {
    //focus
  }

  &.disabled,
  &[disabled='disabled'],
  &[disabled] {
    background: $gray;
    color: $medium-gray;
    cursor: not-allowed;
    border-color: $medium-gray;
  }
}
