.checkbox {
  display: block;
  cursor: pointer;

  input[type='checkbox'] {
    display: none;

    &:checked + span {

      &::before {
        background-color: #435993;
      }

      &:after {
        opacity: 1;
      }
    }
  }

  span {
    display: block;
    padding: 0 0 0 33px;
    font-size: $main-font-size;
    line-height: $main-font-height;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      top: 0;
      left: 0;
      border-radius: 2px;
      border: 1px solid #435993;
      background-color: $white;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      height: 12px;
      width: 7px;
      border-bottom: 2px solid $white;
      border-right: 2px solid $white;
      transform: rotate(45deg);
      top: 2px;
      left: 7px;
      opacity: 0;
      @include trs;
    }
  }

  &:hover {

    span {

      &::before {
        background-color: #e9efff;
      }
    }
  }
}
