extends ../_template

block variables
  - var title = 'Home page'

block content
  .wrapper
    +header()
    include ../modules/heading/heading
    include ../modules/personal-info/personal-info
    include ../modules/experience/experience
    include ../modules/javascript/javascript
    include ../modules/about/about
