mixin header(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +header('mod-name1, mod-name2')

  -
      // список модификаторов
      var allMods = '';
      if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
      allMods = allMods + ' header--' + modsList[i].trim();
      }
    }

  header.header(class= allMods data-controller="header")
    .container
      .header__burger.js-header-burger
        span
      nav.header__nav.js-header-nav
        a.header__nav-link.js-header-link(href="#personal-info") Личная информация
        a.header__nav-link.js-header-link(href="#experiance") Опыт
        a.header__nav-link.js-header-link(href="#javascript") JavaScript
        a.header__nav-link.js-header-link(href="#about") О себе